<!DOCTYPE html>
<html lang="zh-cmn-Has-ZN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="referrer" content="always">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="vDaily - V2EX 精选">
    <link href="{{ url_for('static', path='/index.css') }}" rel="stylesheet">
    <title>vDaily - V2EX 精选</title>
</head>

<body>
    <h1 class="title">vDaily - V2EX 精选</h1>
    <h3 class="subtitle">精选主题</h3>
    <div class="wrapper">
        {% for i in topics %}
        <a class='topic' href="https://v2ex.com/t/{{ i['id'] }}" target="_blank">
            <img class='avatar' src="{{ i['avatar'] }}">
            <div>
                <p class="name">{{ i['name'] }}</p>
                <p class="info">{{ i['author']}} · {{ i['date']|localtime }} · {{ i['score'] }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <h3 class="subtitle">精选回复</h3>
    <div class="wrapper">
        {% for i in replys %}
        <a class='topic' href="https://v2ex.com/t/{{ i['topicId'] }}?page={{ i['topicPage'] }}#r_{{ i['id'] }}" target="_blank">
            <img class='avatar' src="{{ i['avatar'] }}">
            <div>
                <p class="name">{{ i['content']|remove_tag_a|safe }}</p>
                <p class="info">{{ i['author']}} · {{ i['date']|localtime }} · {{ i['thank'] }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="status">
        文档：<a href="https://vdaily.huguotao.com/redoc">API 开放接口</a> ·
        状态：<a href="https://vdaily.huguotao.com/nginx_status">Nginx 状态</a> ·
        统计：<a href="https://vdaily.huguotao.com/report.html">请求统计</a><br>
        最新主题 ID：{{ latest_topic_id }} ·
        爬虫 ID 指针：{{ cursor }} ·
        超 90 天未更新：{{ topic_recent_90days_total }} ·
        反馈错误总数：{{ error_total }}<br>
        任务总数：{{ task_total }} ·
        未分配任务：{{ task_not_distribute_total }} ·
        未完成任务：{{ task_not_complete_total }} ·
        已分配但未完成任务：{{ task_distribute_but_not_complete_total }} ·
    </div>
    <a class='beian' href='http://www.beian.miit.gov.cn/'>桂ICP备15001906号-2</a>
</body>

</html>
