<!DOCTYPE html>
<html lang="zh-cmn-Has-ZN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="referrer" content="always">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="vDaily - V2EX 精选">
    <link href="/static/index.css" rel="stylesheet">
    <title>vDaily - V2EX 精选</title>
</head>

<body>
    <h1 class="title">vDaily - V2EX 精选</h1>
    <h3 class="subtitle">
        精选近 7 天和历史 3 天的热门主题及回复
        <br>
        <a href="/rank">👉 排行榜</a> · <a href="/weekly">👉 周报</a>
    </h3>

    <div class="pc-wrapper">
        <div>
            <h3 class="subtitle">精选主题</h3>
            <div class="wrapper">
                {% for i in topics %}
                <a class='topic' href="https://v2ex.com/t/{{ i['id'] }}" target="_blank">
                    <img class='avatar' src="{{ i['avatar'] }}" loading="lazy">
                    <div>
                        <p class="name">{{ i['name'] }}</p>
                        <p class="info">{{ i['author']}} · {{ i['date']|localtime|dt_format }} · {{ i['score'] }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div>
            <h3 class="subtitle">精选回复</h3>
            <div class="wrapper">
                {% for i in replys %}
                <a class='topic' href="https://v2ex.com/t/{{ i['topicId'] }}?p={{ i['topicPage'] }}#r_{{ i['id'] }}"
                    target="_blank">
                    <img class='avatar' src="{{ i['avatar'] }}" loading="lazy">
                    <div class='content'>
                        <p class="name">{{ i['content']|remove_tag_a|safe }}</p>
                        <p class="info">{{ i['author']}} · {{ i['date']|localtime|dt_format }} · {{ i['thank'] }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('.pc-wrapper>div').forEach((el, i) => {
            el.querySelectorAll('.topic').forEach((el, idx) => {
                setTimeout(() => { el.style.opacity = 1 }, 80 * (idx+i*3))
            })
        })
    </script>
    <div class="status">
        <a href="https://vdaily.huguotao.com/redoc" target="_blank">API 文档</a> ·
        <a href="https://vdaily.huguotao.com/nginx_status" target="_blank">Nginx 状态</a> ·
        <a href="https://vdaily.huguotao.com/report.html" target="_blank">请求统计</a> ·
        <a href="https://vdaily.huguotao.com/logs.html" target="_blank">日志</a><br>
        最新主题 ID：{{ latest_topic_id }} ·
        新主题未更新：{{ topic_recent_total }} ·
        超两周未更新：{{ topic_recent_2w_total }}<br>
        任务总数：{{ task_total }} ·
        未分配：{{ task_not_distribute_total }} ·
        未完成：{{ task_not_complete_total }} ·
        已分配未完成：{{ task_distribute_but_not_complete_total }} ·
        错误：{{ error_total }}
    </div>
    <a class='beian' href='http://www.beian.miit.gov.cn/'>桂ICP备15001906号-2</a>
</body>

</html>