<!DOCTYPE html>
<html lang="zh-cmn-Has-ZN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="referrer" content="always">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="vDaily - V2EX 排行">
    <link href="/static/index.css" rel="stylesheet">
    <title>vDaily - V2EX 排行</title>
</head>

<body>
    <h1 class="title">vDaily - V2EX 排行</h1>
    <h3 class="subtitle">
        按时间对主题及回复进行排行<br>
        <a href="/rank?start={{ recent_30_days.strftime('%Y-%m-%d') }}">👉 30天</a> ·
        <a href="/rank?start={{ recent_90_days.strftime('%Y-%m-%d') }}">👉 90天</a> ·
        <a href="/rank?start={{ recent_365_days.strftime('%Y-%m-%d') }}">👉 365天</a> ·
        <a href="/">🤞 返回精选</a><br>
        <input type="date" id="start" value="{{ start.strftime('%Y-%m-%d') }}"> - <input type="date" id="end" value="{{ end.strftime('%Y-%m-%d') }}">
    </h3>
    <script>
        document.querySelectorAll('input[type="date"]').forEach((el) => {
            el.addEventListener('change', (e) => {
                location.href = `/rank?start=${start.value}&end=${end.value}`
            })
        })
    </script>

    <div class="pc-wrapper">
        <div>
            <h3 class="subtitle">精选主题</h3>
            <div class="wrapper">
                {% for i in topics %}
                <a class='topic' href="https://v2ex.com/t/{{ i['id'] }}" target="_blank">
                    <img class='avatar' src="{{ i['avatar'] }}">
                    <div>
                        <p class="name">{{ i['name'] }}</p>
                        <p class="info">{{ i['author']}} · {{ i['date']|localtime }} · {{ i['score'] }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div>
            <h3 class="subtitle">精选回复</h3>
            <div class="wrapper">
                {% for i in replys %}
                <a class='topic' href="https://v2ex.com/t/{{ i['topicId'] }}?p={{ i['topicPage'] }}#r_{{ i['id'] }}"
                    target="_blank">
                    <img class='avatar' src="{{ i['avatar'] }}">
                    <div class='content'>
                        <p class="name">{{ i['content']|remove_tag_a|safe }}</p>
                        <p class="info">{{ i['author']}} · {{ i['date']|localtime }} · {{ i['thank'] }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="status">主题得分 = (点击数 + 回复数 * 10 + 收藏数 * 30 + 感谢数 * 100 + 投票数 * 300) * (1+ 点赞回复数/总回复数)</div>
    <a class='beian' href='http://www.beian.miit.gov.cn/'>桂ICP备15001906号-2</a>
</body>

</html>