<!DOCTYPE html>
<html lang="zh-cmn-Has-ZN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="referrer" content="always">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="vDaily - V2EX 周报">
    <link href="/static/index.css" rel="stylesheet">
    <title>vDaily - V2EX 周报</title>
    <style>
        .page {
            width: 800px;
            max-width: 96vw;
            margin: 0 auto;
            background: #fff;
            border-radius: 3px;
            padding: 20px;
            box-sizing: border-box;
            word-break: break-all;
        }
        .page .subtitle {
            color: #000;
        }
        .page img {
            max-width: 20%;
        }
    </style>
</head>

<body>
    <h1 class="title">vDaily - V2EX 周报</h1>
    <div class='page'>
        <h3 class="subtitle">{{ weekly['title'] }}</h3>
        {{ content|safe }}
    </div>
    <a class='beian' href='http://www.beian.miit.gov.cn/'>桂ICP备15001906号-2</a>
</body>

</html>