html,
body {
    margin: 0;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    color: #778087;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    overflow: auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    background-image: linear-gradient(to right, rgba(255, 166, 0), rgb(0, 255, 85));
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.subtitle {
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.wrapper {
    width: 520px;
    max-width: 96vw;
    border-radius: 3px;
    background: #f9f9f9;
    margin: 10px auto 60px;
}

.topic {
    display: flex;
    padding: 12px;
    border-bottom: 1px dashed #eee;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 3px;
}

.topic .content .name {
    max-height: 3em;
    transition: max-height .3s;
    word-break: break-all;
    overflow: auto;
}

.topic:hover .content .name {
    max-height: 100vh;
}

.topic .content img {
    max-width: 100%;
}

.topic p {
    margin: 2px 8px;
}

.topic .info {
    font-size: 14px;
    color: #ccc;
}

.status {
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: #bbb;
    box-sizing: border-box;
    opacity: .6;
}

.beian {
    display: block;
    width: 100vw;
    text-align: center;
    font-size: 12px;
    letter-spacing: .1em;
    color: #bbb;
    transform: scale(0.6);
    border-bottom: none;
    opacity: .6;
}


/* store */

.style {
    padding: 12px;
    border-bottom: 1px dashed #eee;
}

.style img {
    width: calc(50% - 5px);
    border: 1px solid #eee;
    border-radius: 3px;
}

.style a {
    text-decoration: underline solid;
}

.style p.name {
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 1px #eee;
}

.style p {
    margin: 6px 0;
    font-size: 14px;
}

.style input {
    width: calc(100% - 8em);
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    color: #aaa;
}

.style input:focus {
    outline: none;
    color: #000;
}

.style button {
    width: 6em;
    height: 2em;
    font-size: 13px;
    border: 1px solid #aaa;
    background: #eee;
    border-radius: 3px;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .pc-wrapper {
        text-align: center;
    }

    .pc-wrapper>div {
        margin: 0 30px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
}